.grid {
    display: grid;
    gap: 2vw;
}

.col1 {
    grid-column: 1;

    width: 15vw;

    text-align: center;
}

.col2 {
    grid-column: 2;

    padding-top: 5vh;
}

.card {
    max-width: 20vw;

    margin-right: 1vw;
    margin-bottom: 1vw;
}